<a href="https://colab.research.google.com/github/DerinOgrenme2021/CihanCalisir/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
names=pd.Series(["cihan", "ali","veli"])

In [4]:
ages = pd.Series([23,13,16])

In [5]:
pd.DataFrame({"Name":names,"Ages":ages})

    Name  Ages
0  cihan    23
1    ali    13
2   veli    16